<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <!-- Logo and search bar container -->
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <%= link_to "UTube", root_path, class: "text-white text-lg font-bold" %>
        </div>
        <!-- Search bar -->
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <form action="<%= 'search_path' %>" method="get" class="flex">
              <input type="search" name="q" placeholder="Search" class="px-3 py-2 h-8 bg-gray-700 text-white rounded border border-gray-600 focus:outline-none focus:border-white">
              <button type="submit" class="px-3 py-2 bg-red-600 text-white rounded">Search</button>
            </form>
          </div>
        </div>
      </div>
      <!-- User account and upload button -->
      <% if current_user %>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <!-- Upload video link -->
          <%= link_to 'Upload', new_post_path, class:"bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"%>
          <%= link_to "My Media", pages_media_path, class: "block px-4 py-2 text-sm text-white bg-gray-900" %>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "px-3 py-2 bg-gray-700 text-white rounded border border-gray-600 focus:outline-none focus:border-white", role: "menuitem", tabindex: "-1"  %>
        </div>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path, class:"bg-yellow-900 text-white px-3 py-2 mx-2 rounded-md text-sm font-medium pa" %>
        <%= link_to 'Log in', new_user_session_path, class:"bg-green-900 text-white px-3 py-2 mx-2 rounded-md text-sm font-medium" %>
      <%end %>
    </div>
  </div>
</nav>